{% extends "base.html" %}
{% block heder %}
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/blog.css">

{% endblock heder %}
{% block mainbody %}
<script>
  let body = document.getElementById("mainbody")
  body.setAttribute("class", "blog custom-background et_pb_button_helper_class et_fullwidth_nav et_fixed_nav et_show_nav et_secondary_nav_enabled et_secondary_nav_two_panels et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_header_style_left et_pb_footer_columns3 et_cover_background et_pb_gutters3 et_smooth_scroll et_right_sidebar et_divi_theme et-db")
</script>

<div id="page-container">

  <div id="et-main-area">

    <div id="main-content">
      <div class="container">
        <div id="content-area" class="clearfix">
          <div id="left-area">
            <div id="chdiv00">

              <article id="post-8968"
                class="et_pb_post post-8968 post type-post status-publish format-standard has-post-thumbnail hentry category-mbbs-admission-2023-24 category-medical-colleges-in-maharastra tag-mbbs-in-maharahtra tag-top-private-colleges-for-mbbs-in-maharashtra-2023-24">
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";' id="isPasted"><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>Meghalaya NEET PG Counselling: A Guide to the Admission Procedure</span></p>

                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>&nbsp;</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>The National Board of Examinations (NBME) administers the National Eligibility cum Entrance Test (NEET), a national-level test for admission to postgraduate medical programmes in India. For admission to MD/MS/Diploma/DM/MCh programmes in government, private, deemed universities, and private medical schools in India, NEET PG is a single window test.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>&nbsp;</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>One of the Indian states that provides postgraduate medical education is Meghalaya. The North Eastern Indira Gandhi Regional Institute of Health and Medical Sciences (NEIGRIHMS) is the only government-run medical school in Meghalaya. A range of postgraduate medical programmes are available at NEIGRIHMS.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>&nbsp;</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>eligibility requirements</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>&nbsp;</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>Candidates must fulfil the requirements listed below in order to be eligible for NEET PG counselling in Meghalaya:</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>&nbsp;</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>They must have succeeded on the MBBS/BDS test from an accredited institution.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>They had to have received an overall grade of at least 50% (45% for candidates with disabilities and 40% for SC/ST candidates).</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>As a medical graduate, they must have completed a year of internship.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>They need a legitimate NEET PG score.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>Application Method</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>&nbsp;</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>The Directorate of Health Services, Government of Meghalaya website is where applicants for NEET PG counselling in that state submit their applications. From March 1 through April 30, 2023, the NEET PG application form will be accessible on the website of the Directorate of Health Services.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>&nbsp;</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>For NEET PG counselling in Meghalaya, the application fee is 1,800 INR for general/OBC applicants and 1,200 INR for SC/ST students. Online payment options for the application fee include debit, credit, and net banking.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>&nbsp;</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>Award List</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>&nbsp;</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>The candidate&#39;s NEET PG score and selected specialisation will be used to create the merit list for NEET PG counselling in Meghalaya. Following the NEET PG test, the merit list will be made available on the website of the Directorate of Health Services.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>&nbsp;</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>a seat assignment</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>&nbsp;</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>The Directorate of Health Services&#39; online counselling mechanism will be used to allocate seats for NEET PG counselling in Meghalaya. Based on the applicants&#39; NEET PG scores, specialisation preferences, and category, NEIGRIHMS will assign them a place in a postgraduate medical programme.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>&nbsp;</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>Significant Dates</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>&nbsp;</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>Exam date for the 2023 NEET PG: September 9</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>Result of NEET PG 2023: October 20, 2023</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>Meghalaya NEET PG counselling 2023: November 2023</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>Conclusion</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>&nbsp;</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>A transparent and equitable method of allocating seats in postgraduate medical programmes at NEIGRIHMS is via NEET PG counselling in Meghalaya. To continue their postgraduate medical education, students may have to make compromises on their chosen specialisation or go to other states owing to the restricted number of postgraduate medical seats in Meghalaya.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>&nbsp;</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>Additional Details</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>&nbsp;</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>Around 150 people are enrolled in postgraduate medical programmes in Meghalaya.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>The cut-off for Meghalaya&#39;s NEET PG counselling fluctuates from year to year. But 600 is generally considered to be the cutoff.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>There are two phases to the counselling procedure for Meghalaya&#39;s Directorate of Health Services. State quota seats are determined in the first round, while All India Quota (AIQ) seats are determined in the second round.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>Advice for Meghalaya NEET PG Counselling</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>&nbsp;</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>Prepare early and well.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>Regularly take practise exams to gauge your improvement.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>Be persistent and inspired.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>Even if you don&#39;t succeed on your first try, don&#39;t quit up.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>As a competitive test, Meghalaya&#39;s NEET PG Counselling is one for which you should begin preparing as soon as possible.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>Books, online courses, and practise exams are just a few of the materials that are accessible to you to aid in your NEET PG counselling preparation in Meghalaya.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>It&#39;s crucial to maintain your motivation and attention while preparing.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>Don&#39;t give up if you don&#39;t succeed the first time. You may try again at any time.</span></p>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;line-height:115%;font-family:"Arial","sans-serif";'>I hope you&#39;ve learned anything from my site. Please don&#39;t hesitate to ask any further questions.</span></p>
                
                <p>
                  <br>
                </p>
                
                <p data-f-id="pbf" style="text-align: center; font-size: 14px; margin-top: 30px; opacity: 0.65; font-family: sans-serif;">Powered by <a href="https://www.froala.com/wysiwyg-editor?pb=1" title="Froala Editor">Froala Editor</a></p>

              </article>


            </div>
          </div>
          {% include "need_help_addmitionform.html" %}

        </div>
      </div>
    </div>

  </div>
</div>


{% endblock mainbody %}