{% extends "base.html" %}
{% block heder %}
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/blog.css">

{% endblock heder %}
{% block mainbody %}
<script>
  let body = document.getElementById("mainbody")
  body.setAttribute("class", "blog custom-background et_pb_button_helper_class et_fullwidth_nav et_fixed_nav et_show_nav et_secondary_nav_enabled et_secondary_nav_two_panels et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_header_style_left et_pb_footer_columns3 et_cover_background et_pb_gutters3 et_smooth_scroll et_right_sidebar et_divi_theme et-db")
</script>

<div id="page-container">

  <div id="et-main-area">

    <div id="main-content">
      <div class="container">
        <div id="content-area" class="clearfix">
          <div id="left-area">
            <div id="chdiv00">

              <article id="post-8968"
                class="et_pb_post post-8968 post type-post status-publish format-standard has-post-thumbnail hentry category-mbbs-admission-2023-24 category-medical-colleges-in-maharastra tag-mbbs-in-maharahtra tag-top-private-colleges-for-mbbs-in-maharashtra-2023-24">
                <p style='margin-top:.25in;margin-right:0in;margin-bottom:.25in;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";' id="isPasted"><span style='font-size:19px;font-family:"Arial","sans-serif";'>NEET PG Ayush Counselling F.C.P.S: A Guide to the Admission Process</span></p>

                <p style='margin-top:.25in;margin-right:0in;margin-bottom:.25in;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;font-family:"Arial","sans-serif";'>The National Eligibility cum Entrance Test (NEET) is a national-level postgraduate medical entrance examination conducted by the National Board of Examinations (NBME) for admission to postgraduate medical courses in India. NEET Ayush is a separate exam for admission to postgraduate Ayush courses, such as M.Sc Yoga, MD Homeopathy, and MD Naturopathy.</span></p>
                
                <p style='margin-top:.25in;margin-right:0in;margin-bottom:.25in;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;font-family:"Arial","sans-serif";'>F.C.P.S or Fellow of the College of Physicians and Surgeons is a postgraduate medical degree that is awarded after completion of a 3-year residency program in Surgery. The F.C.P.S Ayush program is offered in various specializations, such as Ayurveda, Homeopathy, Unani, Siddha, and Tasawwuf.</span></p>
                
                <p style='margin-top:.25in;margin-right:0in;margin-bottom:.25in;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;font-family:"Arial","sans-serif";'>NEET PG Ayush Counselling F.C.P.S is the process through which candidates are allotted seats in the F.C.P.S Ayush programs offered by various medical colleges in India. The counselling process is conducted by the Directorate General of Ayush (DG Ayush).</span></p>
                
                <p style='margin-top:.25in;margin-right:0in;margin-bottom:.25in;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;font-family:"Arial","sans-serif";'>Eligibility Criteria</span></p>
                
                <p style='margin-top:.25in;margin-right:0in;margin-bottom:.25in;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;font-family:"Arial","sans-serif";'>To be eligible for NEET PG Ayush Counselling F.C.P.S, candidates must meet the following criteria:</span></p>
                
                <ul style="list-style-type: disc;margin-left:-0.5in;">
                    <li><span style='font-family:"Arial","sans-serif";font-size:19px;'>They must have passed the NEET PG Ayush exam.</span></li>
                    <li><span style='font-family:"Arial","sans-serif";font-size:19px;'>They must have completed an M.S. in Ayush from a recognized university.</span></li>
                    <li><span style='font-family:"Arial","sans-serif";font-size:19px;'>They must have completed a 1-year internship in a recognized medical college.</span></li>
                </ul>
                
                <p style='margin-top:.25in;margin-right:0in;margin-bottom:.25in;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;font-family:"Arial","sans-serif";'>Application Process</span></p>
                
                <p style='margin-top:.25in;margin-right:0in;margin-bottom:.25in;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;font-family:"Arial","sans-serif";'>The application process for NEET PG Ayush Counselling F.C.P.S is conducted online through the DG Ayush website. The application form for NEET PG Ayush Counselling F.C.P.S 2023 will be available on the DG Ayush website from March 1 to April 30, 2023.</span></p>
                
                <p style='margin-top:.25in;margin-right:0in;margin-bottom:.25in;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;font-family:"Arial","sans-serif";'>The application fee for NEET PG Ayush Counselling F.C.P.S is INR 1,800 for General/OBC candidates and INR 1,200 for SC/ST candidates. The application fee can be paid online using Debit/Credit/Net banking.</span></p>
                
                <p style='margin-top:.25in;margin-right:0in;margin-bottom:.25in;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;font-family:"Arial","sans-serif";'>Merit List</span></p>
                
                <p style='margin-top:.25in;margin-right:0in;margin-bottom:.25in;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;font-family:"Arial","sans-serif";'>The merit list for NEET PG Ayush Counselling F.C.P.S will be prepared on the basis of the candidate&#39;s NEET PG Ayush score and the choice of specialization. The merit list will be published on the DG Ayush website after the NEET PG Ayush exam is conducted.</span></p>
                
                <p style='margin-top:.25in;margin-right:0in;margin-bottom:.25in;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;font-family:"Arial","sans-serif";'>Seat Allotment</span></p>
                
                <p style='margin-top:.25in;margin-right:0in;margin-bottom:.25in;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;font-family:"Arial","sans-serif";'>The seat allotment for NEET PG Ayush Counselling F.C.P.S will be done through the online counselling process conducted by the DG Ayush. The candidates will be allotted a seat in an F.C.P.S Ayush program based on their NEET PG Ayush score, choice of specialization, and category.</span></p>
                
                <p style='margin-top:.25in;margin-right:0in;margin-bottom:.25in;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;font-family:"Arial","sans-serif";'>Important Dates</span></p>
                
                <ul style="list-style-type: disc;margin-left:-0.5in;">
                    <li><span style='font-family:"Arial","sans-serif";font-size:19px;'>NEET PG Ayush 2023 exam: September 9, 2023</span></li>
                    <li><span style='font-family:"Arial","sans-serif";font-size:19px;'>NEET PG Ayush 2023 result: October 20, 2023</span></li>
                    <li><span style='font-family:"Arial","sans-serif";font-size:19px;'>NEET PG Ayush Counselling F.C.P.S 2023: November 2023</span></li>
                </ul>
                
                <p style='margin-top:.25in;margin-right:0in;margin-bottom:.25in;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;font-family:"Arial","sans-serif";'>Conclusion</span></p>
                
                <p style='margin-top:.25in;margin-right:0in;margin-bottom:.25in;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;font-family:"Arial","sans-serif";'>NEET PG Ayush Counselling F.C.P.S is a transparent and fair way to allocate seats in F.C.P.S Ayush programs in India. However, due to the limited number of F.C.P.S Ayush seats in India, candidates may have to compromise on their choice of specialization or may have to travel to other countries to pursue their F.C.P.S Ayush education.</span></p>
                
                <p style='margin-top:.25in;margin-right:0in;margin-bottom:.25in;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;font-family:"Arial","sans-serif";'>Additional Information</span></p>
                
                <ul style="list-style-type: disc;margin-left:-0.5in;">
                    <li><span style='font-family:"Arial","sans-serif";font-size:19px;'>The number of F.C.P.S Ayush seats in India is around 500.</span></li>
                    <li><span style='font-family:"Arial","sans-serif";font-size:19px;'>The cut-off for NEET PG Ayush Counselling F.C.P.S varies from year to year. However, the general cut-off is around 700.</span></li>
                </ul>
                
                <p style='margin-top:.25in;margin-right:0in;margin-bottom:.25in;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-size:19px;font-family:"Arial","sans-serif";'>Tips for NEET PG Ayush Counselling F.C.P.S</span></p>
                
                <ul style="list-style-type: disc;margin-left:-0.5in;">
                    <li><span style='font-family:"Arial","sans-serif";font-size:19px;'>Start early with your preparation.</span></li>
                    <li><span style='font-family:"Arial","sans-serif";font-size:19px;'>Take mock tests regularly to assess your progress.</span></li>
                    <li><span style='font-family:"Arial","sans-serif";font-size:19px;'>Stay focused and motivated.</span></li>
                    <li><span style='font-family:"Arial","sans-serif";font-size:19px;'>Don&#39;t give up, even if you don&#39;t do well in the first attempt.</span></li>
                    <li><span style='font-family:"Arial","sans-serif";font-size:19px;'>NEET PG Ayush Counselling F.C.P.S is a competitive exam, so it is important to start your preparation</span></li>
                </ul>
                
                <p style='margin-top:0in;margin-right:0in;margin-bottom:10.0pt;margin-left:0in;line-height:115%;font-size:15px;font-family:"Calibri","sans-serif";'><span style="font-size:16px;line-height:115%;">&nbsp;</span></p>
                
                <p>
                    <br>
                </p>
                
                <p data-f-id="pbf" style="text-align: center; font-size: 14px; margin-top: 30px; opacity: 0.65; font-family: sans-serif;">Powered by <a href="https://www.froala.com/wysiwyg-editor?pb=1" title="Froala Editor">Froala Editor</a></p>

              </article>


            </div>
          </div>
          {% include "need_help_addmitionform.html" %}

        </div>
      </div>
    </div>

  </div>
</div>


{% endblock mainbody %}